body {
background-color: #f1f1f1;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

header {
background-color: #292929;
color: #fff;
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 20px;
}

h1 {
font-size: 48px;
margin: 0;
}

img {
width: 100px;
height: 100px;
margin: 20px 0;
}

p {
font-size: 24px;
margin: 0;
}

main {
display: flex;
flex-direction: column;
align-items: center;
height: 50vh;
justify-content: center;
}

form {
display: flex;
flex-direction: column;
align-items: center;
}

label {
font-size: 24px;
margin-bottom: 20px;
}

input[type="text"] {
padding: 10px;
font-size: 18px;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 20px;
}

.button {
background-color: #ff8c00;
color: #fff;
font-size: 24px;
padding: 15px 40px;
border: none;
border-radius: 5px;
margin: 10px;
cursor: pointer;
transition: all 0.3s ease;
}

.button:hover {
background-color: #f47d00;
transform: scale(1.1);
}

footer {
background-color: #292929;
color: #fff;
text-align: center;
padding: 20px;
}

@media screen and (min-width: 768px) {
main {
height: auto;
}
form {
width: 50%;
}
input[type="text"] {
width: 100%;
}
}